$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body, html{
	width:100%;
	position:relative;
}

#container {
	padding: 100px;	
	text-align:center;
	background-color: rgb(250,253,255);
	width:100%;
}

#images_grid{
	text-align:center;
	width:100%;
}

img{
	width:500;
	height:500;
	border: 10px solid black;
	display:block;
	margin: 50px;
	position:relative;
}